doctype html(lang='en')
head
    title
    |     
    |     
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    |     
    link(rel='stylesheet', href='stylesheets/stylesheet.css')
    |     
    link(href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700', rel='stylesheet', type='text/css')

    link(rel='stylesheet', href='stylesheets/modal.css')
body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
  .banner
    a.page-scroll(href='#charity')
      p 
  #about.about
    h2 About.
      |      
      hr
      |      
      p.text
        | Reward Charity is a 
        | simple and effective method 
        | for donating to the charities 
        br
        | which will maximize your donationand positively impact your community.
  
  #charity.charity
  ul.img-list
    li
      .charity1
        a.signin(href='#signinform', id='community')
          img.img-responsive(src='images/charity1.png')
          |             
          span.text-content
            span
              h2 Community Empowerment Fund
              |The Community Empowerment Fund (CEF) is a student-run non-profit based in Chapel Hill, NC. It provides savings opportunities, financial education, and support to unemployed and underemployed individuals.
               
        .link
          a(href='http://communityempowermentfund.org/') Community Empowerment Fund
    |             
    |             
    li
      .charity2
        a.signin(href='#signinform', id='girl')
          img.img-responsive(src='images/charity2.jpg')
          |                 
          span.text-content
            span
              h2 Girl Develop It
              |Help improve the technology industry's diversity problem by supporting women in technology. Girl Develop It (GDI) is the leading nonprofit organization providing accessible learning programs for adult women.      
        .link
          a(href='https://www.girldevelopit.com/') Girl Develop It
    |             
    li
      .charity3
        a.signin(href='#signinform', id='animal')
          img.img-responsive(src='images/charity3.jpg')
          |                 
          span.text-content
            span
              h2 Paws4Ever
              |aws4ever is a guaranteed-adoption animal shelter and sanctuary located in Hillsborough, NC, dedicated to improving the lives of cats and dogs. They also provide Legacy Care, a program that cares for animals when owners are no longer able to.         
        .link
          a(href='http://paws4ever.org/') Paws4ever
  br
  br
  footer
      p.footer
        | Team Members: Vera Lin | Alice Lee | Keren Tseytlin | Lauren Song | @PearlHacks2015









    #signinform
      form(action='customers/login', method='POST', role='form')
        input(type='text', name='firstname', placeholder='first name')
        br
        | &#x9;&#x9;
        input(type='text', name='lastname', placeholder='last name')
        br
        | &#x9;&#x9;
        input(type='text', name='cardnumber', placeholder='card number')
        br
        | &#x9;&#x9;
        input(type='text', name='address', placeholder='address')
        br
        | &#x9;&#x9;
        input(type='text', name='zipcode', placeholder='zipcode')
        br
        | &#x9;&#x9;
        input(type='text', name='code', placeholder='CVV')
        input(type='hidden', name='page', id='page')
        br
        br
        button.myButton(type='submit') submit










  script(type='text/javascript', src='javascripts/jquery.js')          
  script(type='text/javascript', src='javascripts/jquery.leanModal.min.js')
  script(type='text/javascript').
    $(".signin").leanModal();

    $("#animal").click(function() {
      $("#page").val("animal");
    });
    $("#girl").click(function() {
      $("#page").val("girl");
    });
    $("#community").click(function() {
      $("#page").val("community");
      
    });



