

.jumbotron {
  background-image: url('../images/background.jpg');  
   height: 300px;
  background-repeat: no-repeat;
  background-size: cover;

}

jumbotron.container{
     position:relative;
     top:100px;
     
     
}
.jumbotron h1,p {
     color:white;
    text-align:center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;

}


.link{
     font-family: 'Noto Sans', sans-serif;
     font-weight:700;
     padding:20px 0 0 0;
}
a{
     text-decoration:none;
     color:#8bb8c6;
  
}

a:hover{
     color:#8bb8c6;
   
}


.charity{
     display:table;
    text-align:center;
    width: 100%;
    height: auto;
    margin:10px;
    padding:20px 0 0 0;
}


img{
     width:290px;
     height:290px;
     
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
 
ul.img-list li {
  display: inline-block;
  height: 290px;
  margin: 0 3em 3em 0;
  position: relative;
  width: 290px;
}


 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}



span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 290px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
  padding:10px;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 290px;
  left: 0;
  position: absolute;
  top: 0;
  width: 290px;
  opacity: 0;
}
 
ul.img-list li:hover span.text-content {
  opacity: 1;
}